/* style.css */

/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

/* Full-screen body styling */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
}

/* Centered and minimalistic styling for the clock */
h1 {
  font-size: 9em;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  /* border: 2px solid #333; */
  /* border-radius: 10px; */
  background-color: #000000;
  border: 0.5px dotted rgb(86, 86, 86);
}

p {
  color: white;
}
